*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
#cover{
    /* background: rgb(222,21,190);
    background: linear-gradient(183deg, rgba(222,21,190,1) 0%, rgba(0,188,255,1) 100%); */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cover>h1{
    color:rgb(66, 130, 10) ;
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
#dis{
    color: purple;
    font-weight: bolder;
    font-size: 1.2rem;
    width: 55%;
    text-align: center;
    margin-bottom: 2rem;
}
.log{
    color:  white;
    background-color: blue;
    font-weight: bolder;
    border-radius: 20%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
}
#testDet{
    padding: 2rem;
    border: 3px dotted black;
}
.test{
    color:rgb(0, 0, 0) ;
    font-weight: bolder;
}
.test>span{
    color: purple;
    font-weight: bolder;
}

@media all and (max-width:500px) {
    body{
        padding: 1rem;
    }
    #cover>h1{
        font-size: 2rem;
        text-align: center;
    }
};