.fa-trash{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.completed{
    text-decoration: line-through;
    cursor: pointer;
    color:gray;
}
.notDone
{
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}
.fa-square-check{
    color:rgb(18, 168, 53);
    margin-right: 2rem;
}
.fa-square{
    color:red;
    margin-right: 2rem;
}
#taskSpan{
    width: 12rem;
    display: inline-block;
}